@{
    ViewData["Title"] = "Privacy Policy";
}
@model IEnumerable<string>
<h1>@ViewData["Title"]</h1>

<head>

</head>
<body>
    <header>Available Times</header>
    @foreach(string i in Model)
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">sign up for @i</a>
        
    }


</body>