@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Project1S3G4.Models.appInfo

<form asp-action="SignUp" method="post">

    <div>
        <label asp-for="Name">Group Name: </label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Size">Size: </label>
        <input asp-for="Size" />
    </div>

    <div>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Phone">Phone: </label>
        <input asp-for="Phone" />
    </div>

    <button type="submit">Sign Up</button>
</form>
